---
---
<style>
  #background {
    background-image: url('/img/night.jpg');
  }
</style>

<div class="absolute -z-50 h-screen w-screen">
  <div id="background" class="w-full h-full bg-cover blur-lg"></div>
</div>
