---
import { FiGithub } from "react-icons/fi";
import { FaDiscord } from "react-icons/fa6";
import { MdEmail, MdPerson } from "react-icons/md";
import NodeLayout from "../layouts/NodeLayout.astro"
---

<NodeLayout>
  <div class="flex flex-row justify-between gap-8">
    <a href="mailto:jules@julesnieves.org" target="_blank" aria-label="email">
      <MdEmail size="32" />
    </a>
    <a
      href="https://discord.com/users/334067823229796367"
      target="_blank"
      aria-label="discord"
    >
      <FaDiscord size="32" />
    </a>
    <a href="https://github.com/cstanze" target="_blank" aria-label="github">
      <FiGithub size="32" />
    </a>
  </div>
</NodeLayout>
